.Route {
	float: left;
	font-size: 1.75em;
	width: 3em;
}

.DepartureList {
	float: right;
	padding: 0;
	width: 14em;
}

.DepartureList li {
	display: inline-block;
	list-style-type: none;
	margin-right: 0.5em;
	width: 3em;
}

.DepartureList li:first-child {
	font-size: 1.75em;
}

.Destination {
	overflow: auto;
}

.Destination.NoDetails {
	font-size: 1.75em;
}

.Details {
	font-size: 0.75em;
	overflow: auto;
}