
#root {
	font-family: Helvetica, Arial, sans-serif
}

.MainTheme {
	--theme-color-1: #0080D0;
	--background-secondary: rgba(255,255,255, 0.25);
	--theme-color-2: white;
	--text-primary: white;
	--text-secondary: rgba(255,255,255, 0.5);
}

.BikesTheme {
	--theme-color-1: #ffcc33 ;
	--background-secondary: rgba(85,85,85, 0.25);
	--theme-color-2: #555555;
	--text-primary: #555555;
	--text-secondary: rgba(85,85,85, 0.5);
}

.BikesTheme .Metro {
	background: var(--theme-color-2);
	color: var(--theme-color-1);
}

.BikesTheme .DepartureList {
	width: 11em;
}

.App {
	box-sizing: border-box;
	color: var(--theme-color-2);
	min-height: 100vh;
	position: relative;
	transition: all 500ms;

	/* Force browser to respect margin-top: 0 */
	margin-top: -1px;
	padding-top: 1px;
}

.Background {
	background: var(--theme-color-1);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 500ms;
	width: 100%;
	z-index: -100;
}

.Footer {
	bottom: 0;
	color: var(--theme-color-2);
	font-size: 0.75em;
	left: 0;
	margin: 0.666em 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.Divider {
	display: inline-block;
	text-align: center;
	width: 0.5rem;
}

a {
	color: var(--theme-color-2);
}

a:visited {
	color: var(--theme-color-2);
}

a:hover {
	color: var(--theme-color-2);
}

.Whitespace {
	height: 6em;
}

.CSStatus {
	margin-top: 3em;
	text-align: center;
}

.CSStatus .Icon {
	font-size: 4em;
}