@media (max-width: 30rem) {
	:root {
		font-size: 7vw;
	}
}

@media (min-width: 30rem) {
	:root {
		font-size: 2rem;
	}
}

.app {
	bottom: 0;
	font-size: 1em;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}