@media (max-width: 33rem) {
	:root {
		font-size: 3vw;
	}
}

@media (min-width: 33rem) {
	:root {
		font-size: 1rem;
	}
}

@media (min-width: 66rem) {
	:root {
		font-size: 2rem;
	}
}

.App {
	font-size: 1em;
}
