
#root {
	--theme-color-1: #007ac9;
	--theme-color-2: white;

	font-family: Helvetica, Arial, sans-serif
}

.cs-background {
	background: var(--theme-color-1);
}

.cs-centered {
	height: 100%;
}

.cs-element {
	background: var(--theme-color-2);
	border-radius: .25em;
	color: var(--theme-color-1);
	min-width: 12em;
}

.cs-element.app-box {
	background: var(--theme-color-1);
	color: var(--theme-color-2);
}

.cs-title.timetable-title {
	color: var(--theme-color-2);
}

.realtime {
	/*
	color: green;
	*/
	font-weight: bold;
}

/*
.timetable-title-element {
	line-height: 1em;
}

.timetable-title-text {
	display: inline-block;
}

.timetable-title-time {
	display: none;
}
*/
