.Route {
	float: left;
	font-size: 1.75em;
	margin-right: 0.25em;
	overflow: hidden;
	width: 2.75em;
}

.Route span {
	white-space: nowrap;
}

.Route .Letters {
	font-size: 0.666em;
}

.DepartureList {
	float: right;
	padding: 0;
	width: 14em;
}

.DepartureList li {
	display: inline-block;
	list-style-type: none;
	margin-left: 0.5em;
	width: 3em;
}

.DepartureList li:first-child {
	font-size: 1.75em;
}

.Departure {
	white-space: nowrap;
}

.Destination {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.DestinationItem:first-child {
	font-size: 1em;
	margin-left: 0;
}

.DestinationItem {
	font-size: 0.666em;
	margin-left: 0.333em;
}

.Destination.NoDetails {
	font-size: 1.75em;
}

.Metro, .Route .Code {
	color: white;
	border-radius: 0.125em;
	padding: 0 0.125em;

}

.Metro, .Code.SUBWAY {
	background: orangered;
}

.Code.RAIL {
	background: purple;
}

.Code.TRAM {
	background: forestgreen;
}

.Code.FERRY {
	background: deepskyblue;
}

.Code.BUS {
	padding: 0;
}

.Metro {
	font-size: 0.7em;
	margin-left: 0.25em;
	padding: 0.125em;
	vertical-align: middle;
}

.Details {
	font-size: 0.75em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.Realtime {
	font-weight: bold;
}

.AlertSymbol {
	float: right;
	font-size: 1em;
	height: 1em;
	margin-top: 0.5em;
	vertical-align: middle;
}

.Symbol.Fill {
	height: 1em;
	fill: currentColor;
}

.AlertText {
	background: crimson;
	border-radius: 0.5em;
	font-size: 0.666em;
	margin-top: 0.25em;
	padding: 0.5em;
}

.AlertText .Left {
	float: left;
	margin-right: 0.5em;
}