.app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.horizontal-half {
	height: 100%;
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.foreground {
	top: 5%;
	left: 10%;
	height: 90%;
	width: 80%;
	position: relative;
}

.background {
	z-index: -100;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #303030
}