.cs-element-head,.cs-element-right {
	padding-top: .125em;
	vertical-align: middle;
}

.departure .cs-element-head {
	font-size: 50%;
	line-height: 2.5em;
	text-align: center;
	width: 10%;
}

.departure .realtime {
	color: green;
	font-weight: bold;
}

.cs-element-right {
	font-size: 33%;
	line-height: 4em;
}

.stoptime:first-child {
	font-size: 2em;
}

.stoptime {
	display: inline-block;
	margin-right: 1em;
	min-width: 3em;
	text-align: center;
}
