.departure ul {
	list-style-type: none;
	margin: 0;
	/*padding: 0;*/
	overflow: hidden;
	width: 100%;
	/*top: 0.5vh;*/
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header {
	background-color: #DCDCDC;
}

.departure {
	width: 100%;
	height: 5%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	opacity: 0.75;
	border-radius: 7px;
	font-size: 100%;
}

.realtime {
	color: #1a8c20
}

.route-type-bus {
	color: #1d46ad;
}

.route-type-rail {
	color: #811cad;
}

.route-type-tram {
	color: #1e7511;
}

.route-type-subway {
	color: #ba7527;
}

.route-type-ferry {
	color: #1ba6ad;
}

.even {
	background-color: #FFFFFF;
}

.odd {
	background-color: #F0F0F0;
}

.departure li {
	float: left;
	/*height: 100%;*/
	/*display: block;*/
	font-size: 2.5vh;
	text-align: left;
	/*text-decoration: none;*/
}

.hide {
	display: none;
}

.route.type {
	width: 10%;
}

/*
.stop.code {
	width: 10%;
}
*/

.stop.name {
	width: 25%;
}

/*
.stop.platform {
	width: 5%;
}
*/

.route.number.nearest-type {
	width: 10%;
}

.route.destination.nearest-type {
	width: 40%;
}

.route.number.stop-type {
	width: 20%;
}

.route.destination.stop-type {
	width: 60%;
}

.route.deptime {
	width: 15%;
}