.departure ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.header {
	background-color: slategrey;
}

.even {
	background-color: lightgrey;
}

.odd {
	background-color: ghostwhite;
}

.departure li {
	float: left;
	display: bloc;
	text-align: left;
	text-decoration: none;
}

.hide {
	display: none;
}

.route.type {
	width: 3%;
}

.stop.code {
	width: 10%;
}

.stop.name {
	width: 25%;
}

.stop.platform {
	width: 5%;
}

.route.number.nearest-type {
	width: 7%;
}

.route.destination.nearest-type {
	width: 40%;
}

.route.number.stop-type {
	width: 17%;
}

.route.destination.stop-type {
	width: 60%;
}

.route.deptime {
	width: 10%;
}