.error-msg {
	height: 100%;
	position: absolute;
	top: 40%;
}

.error-msg-bg {
	background-color: #FFFFFF;
	border-radius: 7px;
	height: 100%;
	width: 100%;
}

h1, h2 {
	clear: both;
	display: block;
}