.timetable-title {
	color: var(--theme-color-2);
	font-size: 0.8em;
	padding-bottom: 0.0625em;
	vertical-align: middle;
}

.timetable-title-element {
	line-height: 1em;
}

.timetable-title-text {
	display: inline-block;
}

.timetable-title-time {
	display: none;
}
